# Copy this file to secrets/github.env and fill values.
# Never commit secrets/github.env

GITHUB_USERNAME=
GITHUB_EMAIL=fdube_bot@proton.me
GITHUB_PASSWORD=
GITHUB_2FA_ENABLED=true
GITHUB_PAT=
GITHUB_PAT_SCOPES=
GITHUB_NOTES=
